/* FUENTES */

@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Amatic+SC:wght@400;700&display=swap');
:root{
    /* TARJETA */
    --rojo:#A60321;
    --cereza:#8C0327;
    --azulOscuro:#0C1F26;
    --azulClaro:#A7D4D9;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url('../IMG/back2.gif');
    background-size: 50%;
    user-select: none;
}


main {
    width: 50%;
    height: 600px;
    margin: 10% auto 0 auto;
}


aside {
    width: 25%;
    height: 600px;
    float: left;
}


.perfil {
    background: var(--azulOscuro);
    color: var(--azulClaro);
    padding: 20px 20px 0 20px;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: black -50px 0px 50px; /* orden de la sombra: color offset-x offset-y blur-radius */
    border-top: var(--azulClaro) 5px dashed;
    border-left: var(--azulClaro) 5px dashed;
    border-bottom: var(--azulClaro) 5px dashed;
    border-right: var(--azulClaro) 5px solid;
}

.perfil h2 {
    font-size: 20px;
    font-family: 'Grenze Gotisch', serif;
}

.perfil .img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 0 auto 10px auto;
    background-image: url(../IMG/miJesuita.png);
    background-size: cover;
}

/* MENÚ */
.frase {
    background: var(--azulClaro);
    padding: 20px;
    height: 356px;
    box-shadow: black -50px 30px 50px; /* orden de la sombra: color offset-x offset-y blur-radius */
    border-top: var(--azulOscuro) 5px dashed;
    border-left: var(--azulOscuro) 5px dashed;
    border-bottom: var(--azulOscuro) 5px dashed;
    border-right: var(--azulOscuro) 5px solid;
}

.frase p {
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size: 23px;
    color: var(--azulOscuro);
    font-style: italic;
}

section { 
    width: 75%;
    height: 500px;
    float: left;
    background: var(--azulOscuro);
    padding: 30px;
    margin: 100px 0 0 0; /*orden del margin : top right bottom left*/
    box-shadow: black 50px 0px 50px; /* orden de la sombra: color offset-x offset-y blur-radius */
}

.nombre {
    background: var(--rojo);
    color: var(--azulOscuro);
    padding: 20px;
    border-radius: 60px 20px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: var(--rojo) 0px 0px 20px; /* orden de la sombra: color offset-x offset-y blur-radius */
}

.nombre h1 {
    font-size: 40px;
    font-family: 'GRenze Gotisch', serif;
}

.mensaje {
    background: var(--cereza);
    padding: 20px;
    border-radius: 20px;
    height: 260px;
}

.mensaje p {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    line-height: 1.5;
    color: var(--azulClaro);
    font-weight: 900;
}